{% load menu %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>{% block title %} |Crash Blog{% endblock %}</title>
    <style>
      nav.navbar {
        height: 6rem !important;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
      }
    </style>
  </head>
  <body>
    <!-- START OF NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>CrashBlog</strong>
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{% url 'about' %}" class="navbar-item"> About </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Categories </a>

            <div class="navbar-dropdown">
              {% menu %}
              <!-- <a class="navbar-item"> Contact </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Report an issue </a> -->
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <form method="get" action="{% url 'search' %}">
              <input
                class="input is-rounded"
                name="query"
                type="text"
                placeholder="Search"
              />
            </form>
          </div>

          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light"> Log in </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End of NAVBAR -->
    <!--  -->
    <section class="section">
      <div class="container">
        {% block content %}
        <!--  -->
        {% endblock %}
      </div>
    </section>
    <!-- FOOTER -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Copyright (c) 2023 - Crash Blog</p>
      </div>
    </footer>
    <!-- END FOOTER -->

    <!--  -->
  </body>
</html>
